* {
    color: brown;
    font-family: "Fredoka", sans-serif;
    font-weight: 500;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.villagerContainer {
    text-align: center;
    border-radius: 10px;
    padding: 3px;
    background-color: white;
    margin: 5px;
}

.villagerSelect {
    width: 100%; 
    height: 25px;
    margin-top: 5px; 
    border-radius: 10px;
    text-align: center;
    border: none;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.villagerSelect:hover {
    cursor: pointer;
}

table {
    padding: 5px;
    border-radius: 15px;
    background-color: tan;
}

td {
    width: 150px;
}

.mobile-message {
    display: block;
}

.mobile-message {
    display: none; 
    text-align: center;
    background-color: #f0f0f0;
    padding: 10px;
    position: absolute;
    width: 100%;
    z-index: 1;
}

#download {
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
}

/* mobile layout */
@media (max-width: 768px) {
    table {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
    }

    /* show message */
    .mobile-message {
        display: block;
    }
}
